@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'maruburi';
	src: url('src/assets/fonts/OTF/MaruBuri-Bold.otf') format('opentype')
}

body {
  font-family: maruburi;
  background: #cbd5df;
}
/* .btns {
	text-decoration: none;
	color: black;
} */

.dark-theme {
  color: #eee;
  background: #2d3848;
}
/* .mode {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 20px;
} */
/* .naving {
  position: fixed;
  left: 30%;
  width: 100%;
} */

.pagings {
  padding-top: 60px;
}

.navigationChecked {
  background: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  color: #fff;
  text-align: center;
  display: block;
}